<div class="container">
  <h1>Top Rated Restaurants (Rating: 5)</h1>

  <% @restaurants.each do |restaurant| %>
    <%= render restaurant %>
    <p>
      <%= link_to "Show this restaurant", restaurant %>
    </p>
  <% end %>
</div>


